<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Resume</title>{% endblock title %}
    <link rel="stylesheet" href="{% static 'uploader/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'uploader/images/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="{% static 'uploader/css/style.css' %}">
</head>
<body id="grad">
    
    {% block contant %}{% endblock contant %}

    <script src="{% static 'uploader/js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        $( function() {
            $( "#datepicker" ).datepicker({
            showButtonPanel: true
            });
        } );
  </script>
</body>
</html>